<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>Куда пойти — Москва глазами Артёма</title>

  <link rel="shortcut icon" href="favicon.png" type="image/png">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
  <link rel="stylesheet" href="leaflet-sidebar.css"/>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <style>
    body {
      padding: 0;
      margin: 0;
    }

    html, body, #map {
      height: 100%;
    }

    .place-description img {
      max-width: 100%;
    }

    .select-place-prompt{
      color: red;
      width: 100px;
    }
  </style>
  <script id="places-geojson" type="application/json">
    {
      "type": "FeatureCollection",
      "features": [
        {
          "type": "Feature",
          "geometry": {
            "type": "Point",
            "coordinates": [37.652716, 55.756894]
          },
          "properties": {
            "title": "PANORAMA360"
          }
        },
        {
          "type": "Feature",
          "geometry": {
            "type": "Point",
            "coordinates": [37.594352, 55.746631]
          },
          "properties": {
            "title": "Арбат"
          }
        }
      ]
    }
  </script>

</head>
<body>
  <div id="sidebar" v-bind:class="selectedPlace ? 'bg-white' : 'bg-secondary'">

    <div v-if="promptVisible" class="d-flex flex-column justify-content-center align-items-center" style="height: 100%;">
      <img class="d-block select-place-prompt mb-4" src="hand-pointer-regular.svg" alt="Select place">
      <h4>Выберите место на карте</h4>
    </div>

    <div class="align-items-center justify-content-center d-flex" v-if="loading" style="height: 100%;">
      <div class="spinner-grow text-light" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <div class="place-description" v-if="selectedPlace">

      <img v-bind:src="selectedPlace.mainPhotoSrc" class="d-block shadow mb-3 rounded" v-bind:alt="selectedPlace.title">

      <h5 class="mb-3">{{ selectedPlace.title }}</h5>

      <p>
        Ещё относительно недавно побывать на территории небоскрёба и тем более подняться на его верхние этажи могли лишь единицы. Остальным оставалось об этом только мечтать. Зато теперь двери башни открыты для всех желающих. Здесь можно полюбоваться невероятными видами Москвы, посетить фабрику мороженого или шоколада, а также заглянуть в другие развлекательные зоны.
      </p>

      <p>
        <img src="https://kudago.com/media/thumbs/xl/images/rich_editor/27/3d/273de0841d3bb5d7ee5b45c81637a5aa.jpg" alt="Огромные окна">
      </p>
      <p>Окна на смотровой площадке достигают 6 метров в высоту</p>

      <p>
        На 89 этаж, где расположилась PANORAMA360, вас на скорости 8 метров в секунду домчит лифт. Площадка впечатляет не только потрясающей круговой панорамой города (отсюда Кремль и другие достопримечательности Москвы видны как на ладони), но и многообразием развлечений.
      </p>

      <p>
        Посмотрите проекционное шоу с эффектом погружения, послушайте рассказ экскурсовода, соберите с помощью приложения виртуальные 3D-модели башен «Москва-Сити», загляните в фотозону и получите снимок на фоне города в подарок. Если проголодаетесь, пообедайте в экоресторане или перекусите в кафе. Купить милую дизайнерскую вещицу на память можно в сувенирной лавке.
      </p>

    </div>
  </div>

  <div id="map"></div>

  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-providers/1.10.1/leaflet-providers.min.js" integrity="sha256-EV/ywRtxUOBICwOsLtPpYEONoBF6g+ShAcLX1Ts48GA=" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/leaflet-control-custom@1.0.0/Leaflet.Control.Custom.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/loglevel/1.6.8/loglevel.min.js" integrity="sha256-O/iFn3B3kEV/q5PPVW8TVpRhoywaK7NN4UjdnBO9DXo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js" integrity="sha256-ngFW3UnAN0Tnm76mDuu7uUtYEcG3G5H1+zioJw3t+68=" crossorigin="anonymous"></script>

  <script src="leaflet-sidebar.js"></script>

  <script>
    var map = L.map('map');
    map.setView([55.753989, 37.623191], 11);

    L.tileLayer.provider('OpenStreetMap.Mapnik').addTo(map);

    var sidebar = L.control.sidebar('sidebar', {
      closeButton: true,
      position: 'right'
    });
    map.addControl(sidebar);

    sidebar.show();

    // FIXME show be hidden in production mode
    L.control.custom({
      position: 'bottomleft',
      content: `
        <label>
            <input name="debug" type="checkbox" ${log.getLevel()<=1 && 'checked'}/>
            Отладка
        </label>`,
      style: {
        padding: '10px',
        background: 'rgba(255, 255, 255, 0.7)',
      },
      events: {
        click: event => {
          if (event.target.name == 'debug'){
            let level = event.target.checked && 'debug' || 'warn';
            log.setLevel(level);
            console.log(`Set log level: ${level}`)
          }
        },
      }
    }).addTo(map);

    function loadJSON(elementId){
      return JSON.parse(document.getElementById(elementId).textContent);
    }

    let places = loadJSON('places-geojson');
    log.debug('Load GeoJSON for places', places);

    L.geoJSON(places, {
        // style: function (feature) {
        //     return {color: feature.properties.color};
        // }
    }).bindPopup(function (layer) {
        return layer.feature.properties.title;
    }).on('click', function(event){
      let feature = event.sourceTarget.feature;
      if (feature.geometry.type != "Point"){
        return
      }

      log.debug('Feature selected', feature);
      sidebar.show();
      loadPlaceInfo(10);
    }).addTo(map);

    var sidebarApp = new Vue({
      el: '#sidebar',
      data: {
        loadingPlaceId: null,
        selectedPlace: null,
          // attributes mainPhotoSrc, title
      },
      computed: {
        promptVisible: function () {
          return !this.loading && !this.selectedPlace;
        },
        loading: function () {
          return this.loadingPlaceId !== null;
        },
      }
    });

    map.on('click', function () {
      sidebarApp.selectedPlace = null;
      sidebarApp.loadingPlaceId = null;
    })

    function delay(ms) {
      // FIXME Does it used debug only for?
      return new Promise((resolve, reject) => {
        setTimeout(resolve, ms);
      });
    }

    async function loadPlaceInfo(placeId){
      sidebarApp.selectedPlace = null;
      sidebarApp.loadingPlaceId = placeId;

      try {
        await delay(1000); // FIXME

        sidebarApp.selectedPlace = {
          title: 'Смотровая площадка PANORAMA360 в ММДЦ «Москва-Сити»',
          mainPhotoSrc: 'https://kudago.com/media/thumbs/xl/images/place/5c/c5/5cc52c074b4b94388390ab3a3096f5f8.jpg',
        };  // FIXME

        let response = await fetch(`/place/${placeId}/`);

        if (!response.ok){
          return;
        }

        let data = await response.json();

        if (sidebarApp.loadingPlaceId != placeId){
          // Place loading was cancelled by user
          return
        }

        sidebarApp.selectedPlace = {
          title: 'Смотровая площадка PANORAMA360 в ММДЦ «Москва-Сити»',
          mainPhotoSrc: 'https://kudago.com/media/thumbs/xl/images/place/5c/c5/5cc52c074b4b94388390ab3a3096f5f8.jpg',
        };
      } finally {
        if (sidebarApp.loadingPlaceId == placeId){
          sidebarApp.loadingPlaceId = null;
        }
      }
    }
  </script>
</body>
</html>
